<script src="https://cdn.jsdelivr.net/npm/siiimple-toast/dist/siiimple-toast.min.js"></script>
<script>
  siiimpleToast = siiimpleToast.setOptions({
    container: "body",
    class: "siiimpleToast",
    position: "top|right",
    margin: 15,
    delay: 0,
    duration: 3000,
    style: {}
  });
</script>
